DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# SQLite by default
DJANGO_DB_ENGINE=django.db.backends.sqlite3
DJANGO_DB_NAME=db.sqlite3

# Uncomment for PostgreSQL
# DJANGO_DB_ENGINE=django.db.backends.postgresql
# DJANGO_DB_NAME=apudig_mvp
# DJANGO_DB_USER=postgres
# DJANGO_DB_PASSWORD=admin
# DJANGO_DB_HOST=localhost
# DJANGO_DB_PORT=5432
# DJANGO_DB_PORT=5432
